/* import tailwind css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* define fonts */
@font-face {
    font-family: 'Epilogue';
    src: url('./assets/fonts/Epilogue-Light.ttf') format('truetype'),
        url('./assets/fonts/Epilogue-Medium.ttf') format('truetype'),
        url('./assets/fonts/Epilogue-SemiBold.ttf') format('truetype'),
        url('./assets/fonts/Epilogue-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VenusRising';
    src: url('./assets/fonts/VenusRising.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.splide .splide__pagination__page {
    background-color: #757575 !important; 
    opacity: 0.5;
    transition: background-color 0.3s, opacity 0.3s;
    width: 20px !important;
    border-radius: 5px !important;
}

.splide .splide__pagination__page:hover {
    background-color: #4b5563 !important; 
    opacity: 1;
}

/* Usar el color 'green-custom' de Tailwind en el punto activo */
.splide .splide__pagination__page.is-active {
    background-color: #2EBAA1 !important; /* Código hexadecimal de 'green-custom' */
    opacity: 1;
}

.splide__pagination {
    transform: translateY(30px); /* Ajusta según necesites */
  }
  
.width_modified_splide{
    width: calc(28%) !important;
}