/* import tailwind css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* define fonts */
@font-face {
    font-family: 'Epilogue';
    src: url('./assets/fonts/Epilogue-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VenusRising';
    src: url('./assets/fonts/VenusRising.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}